RESTIC_REPOSITORY={{ ('s3:https://' ~ b2_s3_endpoint ~ '/' ~ b2_bucket ~ '/' ~ inventory_hostname) | quote }}
RESTIC_PASSWORD={{ restic_password | quote }}
AWS_ACCESS_KEY_ID={{ vault_b2_account_id | quote }}
AWS_SECRET_ACCESS_KEY={{ vault_b2_account_key | quote }}
AWS_DEFAULT_REGION={{ b2_region | quote }}
